@tailwind base;
@tailwind components;
@tailwind utilities;



html {
  scroll-behavior: smooth;
}

textarea::-webkit-scrollbar {
  width: 0;
}

::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}
::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #0B263B !important;
  border-radius: 5px !important;
}

button:focus {
  outline: 0 !important;
}

@media (max-width: 1180px) {
  .toc {
    display: none;
  }
}

.toc-inner {
  max-height: calc(100vh - 25vh);
}

.dropdown:hover .dropdown-menu {
  display: block;
}